doctype html
html(lang="en")
  head
    include sections/_head
  body
    include sections/_header
    main
      .main__container
        h1 Gulp Template Example
        p My congratulations! Everything all right! Keep calm and lets start coding... :)
        img(src="./img/gulp-logo.png")
    include sections/_footer